aio-pika==9.5.7
asyncpg==0.30.0
fastapi==0.116.1
orjson==3.11.0
PyJWT[crypto]==2.10.1
pydantic-settings==2.10.1
python-json-logger==3.3.0
python-multipart==0.0.20
SQLAlchemy==2.0.41
uvicorn[standard]==0.35.0
